@import "./mixins";
* {
    font-family: 'Montserrat', sans-serif;
}

body,
html {
    background: #f9f9f9;
    overflow-x: hidden;
    min-height: 100vh;
    font-size: 14px;
}

a,
a:hover {
    text-decoration: none;
    cursor: pointer;
    color: #2a2a2a;
}


input[type="text"],
input[type="email"],
input[type="file"],
input[type="date"],
input[type="button"],
select,
textarea {
    background: none;
    border: none;
    padding: 10px 20px;
    border-radius: 12px;
    border: 2px solid #f2f2f2;
    display: block;
    outline: 0;
    font-size: 13px;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    resize: none;
}